* {
  box-sizing: border-box;
}
body {
  background-color: rgb(41, 16, 45);
  color: rgb(255, 255, 255);
  margin-top: 50px;
}
.con {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.n {
  display: flex;
  flex-wrap: wrap-reverse;
}
img {
  border-radius: 10px;
}
.o {
  margin-top: 50px;
  width: 400px;
  border-radius: 10px;
}
.site-i {
  margin-top: 200px;
}
.k {
  display: flex;
  margin-top: 50px;
}
.site-img {
  margin-top: 100px;
}
.m {
  display: flex;
  margin-top: 20px;
}
.card {
  width: 350px;
  margin-top: 100px;
  box-shadow: 20px 20px 10px rgb(255, 255, 255);
}
.href {
  text-decoration-line: none;
  color: rgb(255, 255, 255);
  padding: 20px;
  margin-left: 200px;
  margin-top: 200px;
}
.l {
  display: flex;
  margin-top: 50px;
}
.v {
  width: 500px;
  margin-top: 200px;
  margin-left: 200px;
}
